   <!--BOTTOM NAV-->
   <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h10 class="display-10 navbar-text">&copy; Copyright 2022. All Rights reserved</h10>
    </nav>
   </footer>